---
layout: base
---

<section class="jumbotron text-center">
    <div class="container">
        <h1>{{ site.podcast.name }}</h1>
        <p class="lead text-muted">{{ site.podcast.description }}</p>
        <p>
            <a href="#" class="btn btn-secondary my-2">Apple Podcasts</a>
            <a href="#" class="btn btn-secondary my-2">Google Podcasts</a>
            <a href="/{{ site.subdir }}feed.xml" class="btn btn-secondary my-2">XML</a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for page in paginator.posts %}
            {% include episodebox.html %}
            {% endfor %}
        </div>
    </div>
</div>