---
layout: base
---

<section class="jumbotron text-center jumbo-bg">
    <div class="container">
        <h1>{{ site.podcast.name }}</h1>
        <p class="lead">{{ site.podcast.description }}</p>
        <p>
            {% include podlinks.html %}
        </p>
        {% if site.podcast.email %}
        <p><a href="mailto:{{ site.podcast.email }}" style="color: white; text-decoration: underline">Feedback, comments and suggestions welcome!</a></p>
        {% endif %}
        <p></p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for page in paginator.posts %}
            {% include episodebox.html %}
            {% endfor %}
        </div>
    </div>
</div>