<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="author" content="{{ site.podcast.author }}">
<meta name="revisit-after" content="1 days">
<meta name="robots" content="FOLLOW,INDEX">
<meta name="description"
    content="{% if page.description %}{{ page.description }}{% else %}{{ site.podcast.description }}{% endif %}">
<meta name="keywords" content="{{ site.podcast.tags }}">

<meta itemprop="name" content="{% if page.heading %}{{ page.heading }}{% else %}{{ site.podcast.name }}{% endif %}">
<meta itemprop="description"
    content="{% if page.description %}{{ page.description }}{% else %}{{ site.podcast.description }}{% endif %}">
<meta itemprop="image" content="/{{ site.subdir }}{{ site.podcast.logo }}">

<meta name="twitter:card" content="summary" />
<!--<meta name="twitter:site" content="@" />
<meta name="twitter:creator" content="@" />-->

<meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.podcast.name }} - Podcast">
<meta property="og:description"
    content="{% if page.description %}{{ page.description }}{% else %}{{ site.podcast.description }}{% endif %}">
<meta property="og:url" content="{{ site.name }}/{{ site.subdir }}">
<meta property="og:type" content="podcast">
<meta property="og:site_name" content="{{ site.podcast.name }} - Podcast">
<meta property="og:image" content="/{{ site.subdir }}{{ site.podcast.logo }}" />

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="mobile-web-app-capable" content="yes">

<link rel="apple-touch-icon" href="/{{ site.subdir }}{{ site.podcast.logo }}">
<link rel="shortcut icon" href="/{{ site.subdir }}{{ site.podcast.logo }}">
<link rel="icon" href="/{{ site.subdir }}{{ site.podcast.logo }}">

<meta name="application-name" content="{{ site.podcast.name }}" />

<meta name="theme-color" content="#ffffff">

<link type="application/rss+xml" rel="alternate" title="The Leadership Book Review"
    href="{{ site.url }}/{{ site.subdir }}feed.xml" />