<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="author" content="The Leadership Book Review">
<meta name="revisit-after" content="1 days">
<meta name="robots" content="FOLLOW,INDEX">
<meta name="description"
    content="{% if page.description %}{{ page.description }}{% else %}The Leadership Book Review Podcast{% endif %}">
<meta name="keywords" content="Leadership Book Review Podcast">

<meta itemprop="name"
    content="{% if page.heading %}{{ page.heading }}{% else %}The Leadership Book Review Podcast{% endif %}">
<meta itemprop="description" content="{% if page.subheading %}{{ page.subheading }}{% endif %}">
<meta itemprop="image" content="logo-square.png">

<meta name="twitter:card" content="summary" />
<!--<meta name="twitter:site" content="@" />
<meta name="twitter:creator" content="@" />-->

<meta property="og:title"
    content="{% if page.heading %}{{ page.heading }}{% else %}The Leadership Book Review Podcast{% endif %}">
<meta property="og:description"
    content="{% if page.description %}{{ page.description }}{% else %}The Leadership Book Review Podcast{% endif %}">
<meta property="og:url" content="https://leadership-book-review.github.io/podcast/">
<meta property="og:type" content="pocast">
<meta property="og:site_name" content="The Leadership Book Review Podcast">
<meta property="og:image" content="logo-square.png" />

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="mobile-web-app-capable" content="yes">

<link rel="apple-touch-icon" href="logo-square.png">
<link rel="shortcut icon" href="logo-square.png">
<link rel="icon" href="logo-square.png">

<meta name="application-name" content="The Leadership Book Review Podcast" />

<meta name="theme-color" content="#ffffff">