---
layout: base
---

<div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    <small class="card-text text-muted">{{ site.podcast.episode_label }} {{ page.slug }}</small>
                    <h4>{{ page.title }}</h4>
                    <p class="card-text">{{ page.summary }}</p>
                    <h5>Listen Now</h5>

                    <div class="d-flex justify-content-between align-items-center">
                        <audio controls
                            src="/{{ site.subdir }}{{ site.podcast.episodes }}/ep{{ page.slug }}.mp3"></audio>
                        <a class="btn btn-sm btn-outline-secondary"
                            href="/{{ site.subdir }}{{ site.podcast.episodes }}/ep{{ page.slug }}.mp3">MP3</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h4>More episodes</h4>
                    <a href="/{{ site.subdir }}">Full listing</a>
                </div>
            </div>
        </div>
    </div>
</div>