---
layout: base
---

<div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 bg-light">
                <div class="card-body">
                    <small class="card-text text-muted">{{ site.podcast.episode_label }} {{ page.slug }}</small>
                    <h4>{{ page.title }}</h4>
                    <p class="card-text"><em>{{ page.summary }}</em></p>
                    <p class="card-text">
                        <small class="text-muted">Duration {{ page.duration }} - Published
                            {{ page.date | date: "%d/%m/%Y" }}</small></p>
                    <p class="card-text">{{ page.description }}</p>
                    <h5>Listen Now</h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <audio controls
                            src="/{{ site.subdir }}{{ site.podcast.episodes }}/ep{{ page.slug }}.mp3"></audio>
                        <a class="btn btn-sm btn-outline-secondary"
                            href="/{{ site.subdir }}{{ site.podcast.episodes }}/ep{{ page.slug }}.mp3">MP3</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h4>More episodes</h4>
                    <p class="card-text"><a href="/{{ site.subdir }}">Full listing</a></p>
                    <h4>Subscribe</h4>
                    <p class="card-text">
                        <a href="#" class="btn btn-secondary my-2">Apple Podcasts</a>
                        <a href="#" class="btn btn-secondary my-2">Google Podcasts</a>
                        <a href="/{{ site.subdir }}feed.xml" class="btn btn-secondary my-2">XML</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>